<div class="container mx-auto mt-8 bg-gray-100 rounded-lg">


  <div class="lg:flex lg:items-center lg:justify-between ">
    <div class="flex-1 min-w-0 pt-5">

      <h3 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate justify-center text-center"
        style="text-transform:capitalize">

        {{user.name}}'s Dashboard
      </h3>
    </div>
  </div>

  <div class="flex flex-wrap justify-center p-7 pt-4">
    <div class="text-center">
      <h2>{{title}}</h2>
      <p>{{content}}</p>
      <p>Created by {{user.name}} on {{format_date date_created}}</p>

      <p>
        <button class="btn btn-primary">Fund this Project!</button>
      </p>
    </div>
    <div class="flex flex-wrap justify-center w-full">

      {{> form}}
    </div>


  </div>
</div>